@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    /*background: #f7f7f7;*/
    background: url('../img/wallpapermap.png') center;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

.span-message-wrap {
    font-weight: 600;
}

.leaflet-draw-actions li > a {
    color: white !important;
    background: #33a0aa !important;
}

td > .btn:hover, td > form > .btn:hover {
    color: black;
    border: 1px solid black;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #443b3b;
}

a, a:hover {
    text-decoration: none;
    transition: all 0.3s;
}

.swal-button--confirm {
    background-color: #33a0aa;
}

.swal-button--confirm:hover {
    background-color: #2C8892 !important;
}

@media print {
    #sidebar, .dash-main-header, .header-title, .btn-menu, .chat-bot-icon{
        display: none !important;
    }

    .border-top-green {
        border-top: none !important;
    }

    .license-url-link {
        display: block !important;
    }

    hr {
        border-top: 1px solid #a7a7a7;
    }
}

#sidebar {
    /*background: url('../img/sidebarwallpaper.png') center;*/
    background: #42b0bb;
    color: #fff;
    transition: 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px 20px 0 20px;
}

.sidebar-header p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

#sidebar ul a {
    color: #e7e7e7;
    margin-left: 20px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li:hover {
    color: #7386D5;
    background: #33a0aa;
}

#sidebar ul li.active {
    color: #fff;
    font-weight: 600;
}

#sidebar ul li.active {
    border-left: 4px solid #f05977;
    background: #4fb6bf;
}

.sidebar-image {
    width: 60%;
    border-radius: 100%;
    border: 1px solid white;
    padding: 1px;
    height: 125px;
}

.sidebar-image:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#sidebarCollapse{
    height: 40px;
}

.dash-main-header {
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    border-bottom: 1px solid #e7eaec;
    justify-content: space-between;
}

.dash-main-header-view {
    font-size: 16px;
    margin-left: 5px;
    font-weight: 300;
    width: 78%;
    color: #999c9e;
    line-height: 40px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

li a span {
    margin-right: 10px;
}

.subMenu:hover {
    background: #2d98a2 !important;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#icon-sidebar {
    background: #4bc2ce;
    color: #fff;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
    z-index: 9;

    min-width: 70px;
    min-height: 100vh;
}

.sidebar-text {
    display: none;
}

.sidebar-text.active {
    display: block;
    left: -60px;
    position: relative;
    color: white;
    top: 6px;
    width: 25%;
}

#icon-sidebar.active {
    animation: sidebarCollapse 0.1s linear;
    width: 280px;
    margin-left: -27px;
}

@keyframes sidebarCollapse {
    0% {
        width: 70px;
    }
    100% {
        width: 200px;
    }
}

.side-card-right {
    background: #a3acb31a;
    border-radius: 6px;
    color: #595959;
}

#icon-sidebar > ul {
    padding-top: 170px;
}

.sidebar-div-box-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 58px;
    border-radius: 50%;
}

li.active {
    border-right: 2px solid #ffffff;
}

.sidebar-active {
    background: #57ccd8;
}

.side-icon {
    font-size: 22px;
    color: #fafafa;
    margin: 0 auto;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.image-request-license {
    display: none;
}

#sidebar-inter {
    border-right: 1px solid #ececec;
}

.button-menu {
    transition: 0.5s;
    background: #57ccd82b;
    color: #4bc2ce;
    border-radius: 50%;
    width: 42px;
}

.button-menu:hover {
    color: #feffff;
    background: #4bc2ce;
}

.shadow-tiny {
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
}

.license-box {
    box-shadow: 0px 0px 2px 0px rgb(137 137 137 / 48%);
    border-radius: 6px;
}

.license-circle-box {
    width: 70px;
    height: 70px;
    background: #66c9d4;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 80px;
}

.license-icon {
    font-size: 28px;
    color: #fff;
}

@media (max-width: 900px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

@media (min-width: 1000px) {
    .signOut {
        line-height: 32px;
    }

    .table-col-1 {
        width: 15%;
    }

    .table-col-2 {
        width: 13%;
    }

    .table-col-3 {
        width: 20%;
    }

    .table-col-4 {
        width: 10%;
    }

    .table-col-5 {
        width: auto;
    }

    .div-box-span-icon{
        top: 10px;
        position: absolute;
        right: 40px;
    }

    .circle-card-option{
    }

    .only-desktop {
        display: block !important;
    }
}

@media (min-width:1200px) {
    .image-request-license {
        display: block !important;
    }
}

@media (min-width:600px){
    #sidebar-inter{
        height: 100vh !important;
    }

    .status-description {
        margin: 0;
    }
}

.div-box-span-icon {
    display: flex;
    height: 50px;
}

.circle-button {
    height: 50px;
    width: 50px;
    z-index: 999;
    border-radius: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: white;
}

.status-button {
    padding: 5px;
    width: auto;
    max-width: 120px;
    z-index: 9999;
    border-radius: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.primary {
    background-color: #4bc2ce;
    box-shadow: none !important;
}

.secondary {
    background-color: #f05977;
    box-shadow: none !important;
}

.tertiary {
    background-color: #ffbc00;
    box-shadow: none !important;
}

.title-section {
    font-weight: 100;
    color: #777;
}

.black-title-section {
    font-weight: 100;
}

.subtitle-section-p {
    font-weight: 100;
    color: #777;
}

.subtitle-section-p-black{
    font-weight: 100;
    color: #000;
}

.sibtitle-section-p > strong {
    color: #777;
}

.form-input {
    font-size: 1em;
    padding: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.form-group > label {
    display: block;
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: 100 !important;
    color: #313131;
}

.btn-2 {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.btn-3 {
    border: none;
    width: auto;
    height: 42px;
    font-size: 1.2em;
    border-radius: 5px;
    text-decoration: none;
    color: #fff !important;
    padding: 5px 15px;
}

.item-max-width {
    width: 100% !important;
}

.btn-default:hover {
    color: black !important;
    background-color: #f0f0f0;
    border-color: #adadad;
}

.primary-color {
    background: #33a0aa;
    color: white;
}

.secondary-color {
    color: #33a0aa !important;
    border: 1px solid #33a0aa;
    background: transparent;
}

.tertiary-color {
    background: #CC3366;
}

.quartenary-color {
    background: transparent;
    color: #CC3366 !important;
    border: 1px solid #CC3366;
}

.quinary-color {
    background: #ffc107;
    color: white;
}

.sextiary-color  {
    background: transparent;
    color: #ffc107 !important;
    border: 1px solid #ffc107;
}

.primary-color:hover {
    background: #359aa2 !important;
}

.secondary-color:hover {
    background: #f7f7f7 !important;
}

.btn-style-5 {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 3px;
    transition: 0.5s;
    background: #f05977;
    padding: 5px 10px;
    position: relative;
    color: #fff;
}

.btn-style-5:hover {
    color: #fff;
}

.btn-style-5:focus {
    outline: none;
}

@media (max-width: 991px) {
    .tableHeader {
        padding: 4% !important;
    }

    .box-alert, .box-alert-2 {
        padding: 2% 5% 5% 5% !important;
    }

    #newZoneSelect {
        height: 250px !important;
    }

    .btnContactForm, .btn-style-1, .btn-style-2 {
        width: 100% !important;
    }

    .col-xl-6 > .btn-style-1 {
        margin-top: 10px;
    }

    .home-div {
        top: -45px;
    }

    .dashboard-image {
        margin-bottom: 20px;
    }

    .box-div-info-overflow-x {
        overflow-x: auto !important;
        white-space: nowrap;
    }
}

#salesmanMap {
    height: 120vh;
    width: 100%;
}

#neighborhoodMap {
    height: 60vh;
    width: 100%;
}

.map-container {
    display: block;
    width: 100%;
}

.divMap {
    z-index: 9;
    position: relative;
}

#map {
    width: 100%;
    height: 420px;
}

.signUp {
    cursor: pointer;
}

.help > .carousel-control.right, .help > .carousel-control.left {
    background-image: none;
}

.signOut {
    color: #999c9e;
    font-weight: 300;
    margin-right: 20px;
    font-size: 14px;
}

.form-style-width {
    width: 100%;
}

.btnCreateAccount {
    background-color: #157881;
    color: white;
    width: 50%;
    margin-bottom: 10%;
    top: 30px;
    position: relative;
}

.expiredBtnColor {
    background: #ed2e54;
    color: #fff !important;
    font-weight: bolder;
}

.expiredBtnColor:hover {
    background: #d0163b;
}

.statusExpired {
    color: #ed2e54 !important;
    font-weight: bolder;
}

.statusPendent {
    color: #f5a42c !important;
    font-weight: 100;
}

.statusPaid {
    color: #5ea9a4 !important;
    font-weight: bolder;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
}

.background-body {
    background: #fdfdfd;
}

#mapProfile {
    width: 100%;
    height: 300px;
}

#newZoneSelect {
    width: 100%;
    height: 450px;
    border: 1px solid #ddd;
    position: relative !important;
}

.suspensionText {
    color: white;
    font-weight: bold;
    top: -30px;
    position: relative;
    font-size: 18px;
}

.box-alert {
    top: 0;
    position: fixed;
    width: 100%;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2% 20% 20% 20%;
    z-index: 9999;
}

.box-alert-2 {
    top: 0;
    position: fixed;
    width: 100%;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    padding: 2% 30% 20% 30%;
    display: none;
}

.mapZone {
    width: 100%;
    height: 120vh;
    border: 1px solid #ddd;
}

.mapInfo {
    width: 100%;
    height: 50vh;
    border: 1px solid #ddd;
}

#mapCreateAccount {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
}

.avatar {
    width: 200px;
    height: 200px;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.imgPopup {
    position: relative;
    width: 50%;
}

.textPopup {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.pswRecovery {
    color: #157881;
    font-weight: bold;
    cursor: pointer;
}

.pswRecovery:hover {
    color: #157881;
}

.divSelection {
    width: 100%;
    background: #fff;
    border-radius: 10px;
}

.selectSection {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 7%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #414042;
    font-weight: bold;
}

.carouselImage {
    width: 100%;
    height: 500px !important;
}

.notification-textarea {
    width: 100%;
    min-height: 100px;
    max-height: 150px;
}

.form-home {
    padding: 8px 25px !important;
}

.form-control:focus {
    border-color: #368991;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(64, 136, 143, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(112, 187, 194)
}

.dateSide {
    float: left;
}

.panel-body {
    text-align: center;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    width: 100%;
    text-align: left;
}

.btn-group {
    width: 100%;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #33a0aa !important;
    color: #fff !important;
    width: 70vh;
}

.productSelect {
    background-color: #eee;
}

.spanAlert {
    color: #ed2e54;
}

.toast {
    font-family: "Nunito", sans-serif;
}

.toast {
    max-width: 100%;
}

.toast-header {
    font-size: 18px;
    font-weight: bold;
    color: #414042;
}

.toast-body {
    font-size: 16px;
    font-weight: bold;
    color: #414042;
}

.zoneInfo {
    font-size: 12px;
    font-weight: 100;
}

.zonePhoto{
    display: flex;
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
}

.leaflet-container a {
    color: #4bc2ce !important;
}

.padding-header {
    padding: 15px;
}

.panel-heading {
    color: #fff;
    background-color: #f05977;
    border-color: #f05977;
}

.pInfo {
    color: #ed2e54;
    font-weight: 600;
    font-size: 12px;
}

.divInfo {
    width: 100%;
    text-align: center;
}

.imageDescription {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.downloadImage {
    text-decoration: underline;
}

.suspension {
    color: #ed2e54;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.offcanvas-menu:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
}

.login-image {
    width: 30%;
}

.login-title {
    font-weight: 500;
    font-size: 14px !important;
    font-family: "Nunito", sans-serif;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
}

.login-input-label {
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #464646;
}

.profile-div-team-people {
    font-size: 12px;
}

.login-recovery {
    font-size: 14px;
    position: relative;
    color: #777;
    font-weight: 100;
}

.login-recovery:hover {
    color: #157881;
    cursor: pointer;
}

.login-recovery > span {
    font-weight: 600;
    color: #33a0aa;
}

.img-home {
    width: 100%;
}

.table-nowrap {
    overflow-x: auto;
    white-space: nowrap;
}

.web-div-box {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.web-div{
    width: 100%;
    /*height: 80vh;*/
    background-color: white;
    padding: 0 15px;
}

.box-div-info {
    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);*/
    padding: 15px;
}

.border-bottom-gray {
    border-bottom: 2px solid #e0e0e0;
}

.box-div-info-no-padding {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.box-div-info-no-shadow {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.box-div-info-title {
    font-weight: bold;
}

.box-div-info-green {
    color: white;
    background: #4bc2ce;
    /*background: #5ea9a4 url(../img/barraca.png) right no-repeat;*/
}

.progress-bar-success {
    background: #5ea9a4 !important;
}

.box-div-info-red {
    background: #dc3545;
    color: white;
}

.box-div-info-blue {
    background: #17a2b8;
    color: white;
}

.box-div-shadow {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.progress-bar-info {
    background: #17a2b8 !important;
}

.box-div-info-yellow {
    background: #ffc107;
    color: white;
}

th, td {
    padding: 2% !important;
    padding-right: 10px !important;
    color: #777;
}

tbody > tr:hover {
    cursor: pointer;
    background-color: #f1f1f1 !important;
}

#neighborhoodList > tr:hover {
    cursor: auto;
}

#neighborhoodList > tr > td > span:hover {
    cursor: pointer;
    color: black;
}

.tableHeader {
    background: #5ea9a4;
    padding: 2%;
    color: white;
    border-radius: 20px 20px 0 0;
    margin: 0;
}

.table > thead > tr > th {
    font-weight: 500;
}

.table {
    font-size: 14px;
}

.profile-div-data {
    width: 100%;
    background: #f7f7f7;
    margin-top: 10px;
    padding: 11px 11px 11px 20px;
    border-radius: 10px;
}

.profile-div-data > h5 > span {
    color: #9c9c9c;
}

.geojsonLink {
    color: #5ea9a4;
    border-bottom: 1px solid #5ea9a4;
}

.loader-div {
    position: fixed;
    width: 100%;
    height: 150vh;
    justify-content: center;
    display: flex;
    left: 0;
    top: 0;
    padding-top: 250px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
}

.loader-spin {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #4fb6bf;
    width: 55px;
    height: 55px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.7s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text-left-action:hover {
    color: #5ea9a4;
    transition: 0.5s;
    cursor: pointer;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#form-contact {
    text-align: left;
}

.section-map {
    position: relative;
    z-index: 9;
}

.icon-close {
    font-size: 20px;
    cursor: pointer;
    color: #6b6b6b;
}

.icon-close:hover {
    color: #3a3a3a;
}

.div-box-right-button {
    position: absolute;
    right: 40px;
    cursor: pointer;
    font-weight: normal;
}

.div-table-search {
    display: flex;
    border-radius: 30px;
    background: #4bc2ce;
    width: 280px;
}

.input-table-search {
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid #4bc2ce;
    padding: 0 20px;
    color: #777;
    outline: transparent;
}

.table-title {
    font-weight: 500;
    background-color: #f05977;
    border-color: #f05977;
    color: #fff;
    padding: 15px;
}

#card {
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #5ea9a4;
    border-color: #3c847f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #67b5b0 !important;
    border-color: #3c847f;
    outline: transparent;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #5ea9a4;
    border-color: #3c847f;
}

.card-users {
    font-weight: 100 !important;
    color: #777;
}

.card-icon {
    font-size: 50px;
    color: #9a9a9a;
}

.registered-icon {
    color: #8c8c8c !important;
}

.paid-icon {
    color: #4bc2ce !important;
}

.pending-icon {
    color: #ffbc00 !important;
}

.expired-icon {
    color: #f05977 !important;
}

a#dropdownMenuLink1.dropdown-toggle::after {
    display: none;
}

.empty-table {
    display: none;
}

.dropdown-item {
    padding: 20px !important;
    color: #777;
    font-weight: 100;
}

.box-list.active {
    background: #CC3366 !important;
    color: #fff !important;
}

.box-list {
    background: #E3E3E3;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    color: #838383;
}

.box-list > h3 {
    position: relative;
    top: 8px;
    font-weight: 100;
    font-size: 22px;
}

.box-container {
    width: 20%;
}

.img-page {
    width: 80%;
}

input[type=file].hidden-input-file {
    display: none;
}

.label-left {
    line-height: 53px;
}

.label-file {
    height: 53px;
    width: 203px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 10px;
    line-height: 53px;

    display: inline-block;
    max-width: 100%;
    margin-bottom: 11px;
    font-weight: 500 !important;
    color: #7a7f85;
    cursor: pointer;
}

.card-close-file {
    float: right;
    cursor: pointer;
}

.card-content-upload {
    width: 50px;
    height: 50px;
    background: #FFE6E2;
    border-radius: 10px;
}

.card-content-type-upload {
    background: #cc3366;
    color: #fff;
    font-weight: 600;
    font-size: 8px;
    border-radius: 4px;
    line-height: 45px;
    height: 32px;
}

.card-content-type-upload > span {
    text-transform: uppercase;
}

.file-uploaded-container {
    justify-content: center;
    display: none;
}

.card-content-progress {
    width: 140px;
    height: 5px;
    background: #33a0aa;
}

.file-uploaded-container > div > p {
    width: 40px;
}

#img-page-2, #page-2, #img-page-3, #page-3, #img-page-4, #page-4, #img-page-5, #page-5, #img-page-6, #page-6,
.license-1, .license-2, .license-3, .license-4, .display-none {
    display: none;
}

.h2-header {
    color: white;
    font-weight: 100;
}

.box-card {
    width: 100%;
    display: flex;
}

.hr-white {
    color: #E3E3E3;
}

.h2-title-header-black {
    color: #333333;
}

.div-create-account-green {
    background: #33a0aa;
}

.hr-gray {
    color: #E3E3E3;
}

.multiselect.dropdown-toggle.btn.btn-default {
    height: 55.97px;
}

.license-description {
    color: #cc3366;
    font-weight: 400;
}

.form-group > textarea {
    height: 54px;
    min-height: 54px;
}

.multiselect-container.dropdown-menu {
    max-width: 100%;
    overflow: auto;
}

.multiselect-container.dropdown-menu > li {
    width: 100%;
}

.icon-arrow_downward {
    color: #f05977;
}

.icon-arrow_upward {
    color: #4bc2ce;
}

.image-card-bubble {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #c1c1c1;
}

.second-attach {
    position: relative;
    top: -60px;
}

.div-request-license {
    background-color: #f7f7f7;
    cursor: pointer;
}

.div-request-license:first-letter {
    text-transform: capitalize;
}

.div-request-license > h4 {
    font-size: 18px;
}

.div-request-license:hover {
    background: #ececec;
}

.div-request-license > div > span {
    color: #4bc2ce;
}

.gray-box {
    background: #f7f7f7;
}

.disabled-input {
    background: #fbfbfb;
}

.icon-info-circle {
    color: #4bc2ce;
}

/*.col-xl-6 > .row > .col-xl-6 > .form-group {*/
/*    line-height: 60px;*/
/*}*/

.div-gray-bg {
    background-color: #f7f7f7;
}

.background-green-tiny {
    background: #57ccd8db;
}

.background-green{
    background: #4bc2ce;
}

.background-yellow{
    background: #fff25a;
}

.background-red{
    background: #f05977;
}

.border-top-green {
    border-top: 2px solid #4bc2ce;
}

.border-top-red {
    border-top: 2px solid #f05977;
}

.border-top-yellow {
    border-top: 2px solid #ffbc00;
}

.border-left-green {
    border-left: 2px solid ;
}

.border-left-green-light {
    border-left: 3px solid #00efd1;
}

.border-left-green-bold {
    border-left: 3px solid #53dc9c;
}

.border-left-red {
    border-left: 2px solid #f05977;
}

.border-left-gray {
    border-left: 3px solid #d2d2d2;
}

.border-bottom-red {
    border-bottom: 2px solid #f05977;
}

.container-white {
    background: #fff;
}

.modal-overflow {
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 6px;
}

.div-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    top: 0;
    left: 0;
}

.border-left-green {
    border-left: 3px solid #4bc2ce;
}

border-left-red {
    border-left: 3px solid #f05977;
}

.border-left-yellow {
    border-left: 3px solid #ffbc00;
}

.invalidate-feedback, .text-red {
    color: #f05977 !important;
}

.text-yellow {
    color: #ffbc00 !important;
}

.text-green {
    color: #4bc2ce !important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.mh-80 {
    overflow: auto;
    max-height: 80vh;
}

.b-radius-top {
    border-radius: 6px 6px 0 0;
}

.b-radius-bottom {
    border-radius: 0 0 6px 6px;
}

.b-radius-left {
    border-radius: 6px 0 0 6px;
}

.b-radius-right {
    border-radius: 0 6px 6px 0;
}

.b-left-gray {
    border-left: 1px solid #e1e1e1b3;
}

.license-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
}

.profile-card-option {
    width: 35px;
    height: 35px;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.card-red {
    background: #ffeeee;
    color: #ed2e54ba;
}

.card-yellow {
    background: #fffadf;
    color: #fddb62;
}

.card-green {
    background: #e0fcffa1;
    color: #4bc2ce;
}

.circle-card-option {
    width: 100px;
    padding: 22px;
    margin: 0 auto;
    background: #57ccd8;
    color: white;
    font-size: 37px;
    border-radius: 50%;
}

.circle-card-option-red {
    width: 100px;
    padding: 22px;
    margin: 0 auto;
    background: #f9758f;
    color: white;
    font-size: 37px;
    border-radius: 50%;
}

.btn-menu {
    position: relative;
    top: -92px;
}

.img-uploaded {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}
.control--radio .control__indicator {
    border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}
.control input:checked ~ .control__indicator {
    background: #4bc2ce;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.c-white {
    color: white;
}

.status-description {
    display: inline-block;
    height: 35px;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    cursor: default;
    margin: 15px 10px;
}

.status-description.secondary-color:hover {
    background: #fff !important;
}

.circle {
    position: relative;
    border: 2px solid #4bc2ce;
    border-radius: 100%;
    width: 15px;
    height: 15px !important;
    text-align: center;
    margin-top: 50px;
    background-color: #4bc2ce;
    z-index: 2;
}
.circle:first-child {
    margin-top: 0;
}
.v-line:before {
    border: 1px solid #4bc2ce;
    background: #4bc2ce;
    width: 0;
    height: 86px;
    display: block;
    content: '';
    left: 50%;
    z-index: 1;
    margin-top: -60px;
    margin-left: 6px;
}

.v-line:first-child:before {
    display: none;
}

.zone-info-icons {
    color: #fff;
    font-size: 32px;
}

.div-circle {
    border-radius: 50%;
    width: 60px;
}

.div-zone-info-data {
    background: #d0d0d0;
    border-radius: 60px 15px 80px 60px;
}

.div-zone-info-text {
    color: #fff;
    font-weight: 100;
}

#editFixMap {
    width: 100%;
    height: 85vh;
}
